/* Set default font size and color for the whole document */
body {
  font-size: 16px;
  color: #fff;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #555;
}

.navbar-toggler {
  display: none;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
  }

  .navbar-nav.active {
    max-height: 300px;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navbar-toggler {
    display: block;
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}
  

      

main {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 20px 0;
padding: 0 20px;
}
section {
width: 30%;
}
section.latest-news .news {
background-color: #f2f2f2;
margin-bottom: 20px;
padding: 10px;
}
section.latest-news .news img {
max-width: 100%;
}
section.latest-news .news h3 {
margin: 10px 0;
}
section.latest-news .news p {
line-height: 1.5;
}
section.news-categories ul {
list-style-type: none;
margin: 0;
padding: 0;
}
section.news-categories ul li {
margin-bottom: 10px;
}
section.news-categories ul li a {
color: #333;
text-decoration: none;
transition: color 0.3s;
}
section.news-categories ul li a:hover {
color: #ff6347;
}
section.popular-news .news {
margin-bottom: 20px;
padding: 10px;
}
section.popular-news .news img {
  max-width: 100%;
}
section.popular-news .news h3 {
margin: 10px 0;
}
section.popular-news .news p {
line-height: 1.5;
}


/* Footer Container */
footer {
  background-color: #168BD8;
  padding: 30px 0;
  font-family: Arial, sans-serif;
}

/* Footer Columns */
footer .col-md-4 {
  margin-bottom: 30px;
}

/* Footer Headings */
footer h3 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Footer Text */
footer p {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}

/* Footer Links */
footer a {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

/* Footer Social Icons */
footer .social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

footer .social-icons li {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
}

footer .social-icons li a {
  color: #fff;
  font-size: 20px;
  
 text-align: center;
}

/* Footer Copyright */
footer h6 {
  font-size: 12px;
  color: #fff;
  margin-top: 30px;
  text-align: center;
}
